<ion-menu contentId="main-content" menuId="main-menu">
  <ion-header  class="flex items-center mb-10 py-8 px-6 border-black bg-white shadow-md">
    <img src="../../../assets/Group 136.svg" alt="">
  </ion-header>




  <ion-content class="ion-padding">
    <ion-list>
      <!-- Dashboard -->
      <ion-item class="flex justify-center items-center text-center" (click)="goTo('dashboard')">
        <ion-icon name="grid-outline" slot="start" class="text-gray-400 font-semibold" slot="start" class="text-gray-400 font-semibold"  [ngClass]="{ 'text-black': currentRoute == 'dashboard', 'text-gray-400': currentRoute != 'dashboard' }"></ion-icon>
        <label class="w-full" [ngClass]="{ 'font-semibold': currentRoute == 'dashboard' }">Dashboard</label>
      </ion-item>
      <!-- reportes -->
      <ion-item class="flex justify-center items-center text-center" (click)="goTo('reportes')">
        <ion-icon name="document-attach-outline" slot="start" class="text-gray-400 font-semibold" slot="start" class="text-gray-400 font-semibold"  [ngClass]="{ 'text-black': currentRoute == 'reportes', 'text-gray-400': currentRoute != 'reportes' }"></ion-icon>
        <label class="w-full" [ngClass]="{ 'font-semibold': currentRoute == 'reportes' }">Reportes</label>
      </ion-item>

      <!-- Ordnenes -->
      <ion-item class="flex justify-center items-center text-center" (click)="goTo('ordenes')">
        <ion-icon name="newspaper-outline" slot="start" class="text-gray-400 font-semibold" slot="start" class="text-gray-400 font-semibold"  [ngClass]="{ 'text-black': currentRoute == 'ordenes', 'text-gray-400': currentRoute != 'ordenes' }"></ion-icon>
        <label class="w-full" [ngClass]="{ 'font-semibold': currentRoute == 'ordenes' }">Ordenenes</label>
      </ion-item>
      <!-- Clientes -->
      <ion-item class="flex justify-center items-center text-center" (click)="goTo('customer')">
        <ion-icon name="person-outline" slot="start" class="text-gray-400 font-semibold" slot="start" class="text-gray-400 font-semibold"  [ngClass]="{ 'text-black': currentRoute == 'customer', 'text-gray-400': currentRoute != 'customer' }"></ion-icon>
        <label class="w-full" [ngClass]="{ 'font-semibold': currentRoute == 'customer' }">Clientes</label>
      </ion-item>

      <!-- Usuarios -->
      <ion-item class="flex justify-center items-center text-center" (click)="goTo('usuarios')">
        <ion-icon name="people-outline" slot="start" class="text-gray-400 font-semibold" slot="start" class="text-gray-400 font-semibold"  [ngClass]="{ 'text-black': currentRoute == 'usuarios', 'text-gray-400': currentRoute != 'usuarios' }"></ion-icon>
        <label class="w-full" [ngClass]="{ 'font-semibold': currentRoute == 'usuarios' }">Usuarios</label>
      </ion-item>

      <!-- Estados de entregas -->
<ion-item class="flex justify-center items-center text-center" (click)="goTo('delievery-status')">
  <!-- Icono con color cambiado a negro cuando la ruta es 'delievery-status' -->
  <ion-icon name="time-outline" slot="start" class="text-gray-400 font-semibold"  [ngClass]="{ 'text-black': currentRoute == 'delievery-status', 'text-gray-400': currentRoute != 'delievery-status' }">
  </ion-icon>
  
  <!-- Texto con negrita y color cambiado cuando la ruta es 'delievery-status' -->
  <label class="w-full" [ngClass]="{ 'font-semibold': currentRoute == 'delievery-status', 'text-black': currentRoute == 'delievery-status' }">
    Estados de entregas
  </label>
</ion-item>


      <!-- Tipos de pago -->
      <ion-item class="flex justify-center items-center text-center" (click)="goTo('payment-type')">
        <ion-icon name="card-outline" slot="start" class="text-gray-400 font-semibold"  [ngClass]="{ 'text-black': currentRoute == 'payment-type', 'text-gray-400': currentRoute != 'payment-type' }"></ion-icon>
        <label class="w-full" [ngClass]="{ 'font-semibold': currentRoute == 'payment-type' }">Tipos de pago</label>
      </ion-item>
      
    </ion-list>
  </ion-content>
</ion-menu>
