<ion-header [translucent]="true" class="shadow-none"> <!-- Elimina la sombra -->
  <ion-toolbar class="h-10"> <!-- Hace el toolbar más pequeño -->
    <ion-title class="text-lg font-semibold">Ordenes</ion-title> <!-- Título más pequeño si lo deseas -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar class="h-8"> <!-- También ajustamos el tamaño aquí -->
      <ion-title size="large">Ordenes</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<app-footer></app-footer>
