<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>peso</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input [(ngModel)]="numero" class="text-center" type="number" placeholder="Medida: 10, 5, 2.5"></ion-input>
  </ion-item>
  <div class="flex justify-center gap-24">
    <div class="w-96">
      <div class="flex flex-col ml-20">
        <ion-checkbox (click)="primeraOpcion(distancia.clave)" class="text-center cursor-pointer" *ngFor="let distancia of distancias; let i = index">
          {{ distancia.valor }}
        </ion-checkbox>
      </div>
    </div>
    <div class="w-96">
      <div class="flex flex-col ml-20">
        <ion-checkbox (click)="segundaOpcion(distancia.clave)" class="text-center cursor-pointer" *ngFor="let distancia of distanciasInvertidas; let i = index">
          {{ distancia.valor }}
        </ion-checkbox>
      </div>
    </div>
  </div>

  <ion-item>
    <ion-label class="text-center">{{ resultado }}</ion-label>
  </ion-item>

</ion-content>

