<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Información Entrega</ion-title>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBackInicio()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button (click)="goBackInicio()"></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Información Entrega</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <!-- Croquis -->
    <div class="relative mb-6">
      <iframe 
        *ngIf="googleMapsUrl"  
        [src]="googleMapsUrl" 
        width="100%" 
        height="300" 
        style="border:0; border-radius: 10px;" 
        allowfullscreen="" 
        loading="lazy">
      </iframe>
    </div>
    
  
    
  
    <ion-content class="ion-padding">
      <div class="mb-6 text-center">
          <button class="w-full bg-blue-600 hover:bg-blue-700 text-white font-medium py-2.5 rounded-3xl transition-colors flex items-center justify-center space-x-2" (click)="openGoogleMapsRoute()">
            <!-- Logo de Google Maps -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2">
              <path d="M12 9.5m-2.5 0a2.5 2.5 0 1 0 5 0a2.5 2.5 0 1 0 -5 0"></path>
              <path d="M6.428 12.494l7.314 -9.252"></path>
              <path d="M10.002 7.935l-2.937 -2.545"></path>
              <path d="M17.693 6.593l-8.336 9.979"></path>
              <path d="M17.591 6.376c.472 .907 .715 1.914 .709 2.935a7.263 7.263 0 0 1 -.72 3.18a19.085 19.085 0 0 1 -2.089 3c-.784 .933 -1.49 1.93 -2.11 2.98c-.314 .62 -.568 1.27 -.757 1.938c-.121 .36 -.277 .591 -.622 .591c-.315 0 -.463 -.136 -.626 -.593a10.595 10.595 0 0 0 -.779 -1.978a18.18 18.18 0 0 0 -1.423 -2.091c-.877 -1.184 -2.179 -2.535 -2.853 -4.071a7.077 7.077 0 0 1 -.621 -2.967a6.226 6.226 0 0 1 1.476 -4.055a6.25 6.25 0 0 1 4.811 -2.245a6.462 6.462 0 0 1 1.918 .284a6.255 6.255 0 0 1 3.686 3.092z"></path>
            </svg>
            <span>Ver en Google Maps</span>
          </button>
      </div>
      
    <!-- Imagen de la factura -->
    <div *ngIf="evidenciaImagen === 'si hay evidencia'" class="text-center space-y-4">
      <div class="flex justify-center gap-4 items-center mt-2">
        <button (click)="anteriorImagen()" class="text-2xl font-bold">&lt;</button>
        <span>{{ imagenActual + 1 }} / {{ evidence.length }}</span>
        <button (click)="siguienteImagen()" class="text-2xl font-bold">&gt;</button>
      </div>
      <img
        [src]="evidence[imagenActual]"
        alt="Evidencia"
        class="w-full max-w-xs mx-auto rounded-xl shadow-md"
      />
    
    </div>
    
    



  <!-- Aquí se muestra el texto extraído -->
  <ion-card *ngIf="extractedText">
    <ion-card-header>
      <ion-card-title>Texto Extraído</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ extractedText }}</p>
    </ion-card-content>
  </ion-card>


    </ion-content>
    
  
  </ion-content>
  



  

  <!-------------------------------------------------- MODAL ---------------------------------------------->
  <ion-modal #modal trigger="open-modal" [isOpen]="true" [initialBreakpoint]="0.25" [breakpoints]="[0.25, 0.5, 0.75]"
    [backdropDismiss]="false" [backdropBreakpoint]="0.5">
    <ng-template>
      <ion-content class="ion-padding">
        <ion-label class="block font-bold px-10 text-black"> Informacion de la Entrega</ion-label>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>{{orden.customer.firstNames + ' ' +orden.customer.lastNames}}</h2>
            <p>
              <ion-icon name="star" class="pl-2 text-orange-500 "></ion-icon>
              4.9
              <ion-icon name="call" class="absolute right-10 top-1/2 -translate-y-1/2 !text-black text-xl" 
              (click)="makeCall()"></ion-icon>
            
              <ion-icon name="logo-whatsapp" class="absolute right-2 top-1/2 -translate-y-1/2 !text-black text-xl" 
              (click)="sendWhatsAppMessage()"></ion-icon>

            </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Valor cancelado</h2>
            <p>${{orden.credit}}</p>
          </ion-label>
          <ion-label>
            <h2>Valor por cancelar</h2>
            <p>${{orden.total}}</p>
          </ion-label>
          <ion-label>
            <h2>Observaciones</h2>
            <p>{{orden.observations}}</p>
          </ion-label>
        </ion-item>
        <div class="flex-grow"></div>
        <div class="flex justify-center mb-4">
          <ion-button shape="round" style="--background: #FD683D;" (click)="changeStatus()">Entregado</ion-button>
        </div>
        <ion-label><h2>Evidencias</h2>
          <p>Seccion de eviendecias para la entrega del pedido</p>
        </ion-label>
        <div class="">
          <div class="relative  h-10 rounded-lg border-dashed border-2 border-[var(--primary)] bg-gray-100 flex justify-center items-center cursor-pointer">
            <div class="absolute flex flex-col items-center">
              <i class="fa fa-folder-open fa-3x text-[var(--primary)]"></i>
              <span class="block text-gray-400 text-sm">Arrastra aquí o haz clic para subir</span>
            </div>
            <input type="file" class="absolute inset-0 opacity-0 cursor-pointer" (change)="onFileChange($event)" multiple>
          </div>
      
          <!-- Lista de archivos cargados -->
          <ul class=" text-[var(--dark)] text-sm space-y-2">
            <li *ngFor="let file of files">{{ file.name }} ({{ (file.size / 1024).toFixed(2) }} KB)</li>
          </ul>
        </div>
        <div class="mt-4">
          <ion-label class="block mb-2">
            <h2 class="text-lg font-semibold">Evidencias Cargadas</h2>
          </ion-label>
        
          <div class="flex flex-wrap gap-3">
            @for (evidencia of evidenceUpdate; track $index) {
              <div class="w-24 h-24 overflow-hidden rounded-lg border border-gray-300 shadow-sm">
                <img [src]="evidencia" alt="Evidencia" class="object-cover w-full h-full" />
              </div>
            }
          </div>
        </div>
        
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
