<ion-header>
  <ion-toolbar>
    <ion-title>Rutas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <google-map width="100%" height="400px" [zoom]="zoom" [center]="center">
    <map-marker 
      *ngFor="let marker of markers" 
      [position]="marker.position" 
      [title]="marker.title"
      [icon]="marker.icon"
      (mapClick)="openInfo(marker)">
    </map-marker>
  </google-map>
  <div class="flex justify-center items-center gap-4 mt-4">

    <button class="bg-black p-4 rounded-full text-white h-fit" (click)="getLocation()">Obtener mi ubicación</button>
  </div>

  <ion-card *ngIf="selectedMarker" class="m-4 p-2 shadow-lg">
    <ion-card-header>
      <ion-card-title>Entrega Seleccionada</ion-card-title>
    </ion-card-header>
    <ion-card-content class="flex items-center gap-4">
      <div>
        <p><strong>{{ selectedMarker.description
 }}</strong></p>
        <p><strong>Ubicación:</strong> {{ selectedMarker.position.lat }}, {{ selectedMarker.position.lng }}</p>
      </div>
    
      <button class="bg-black p-4 rounded-full text-white h-fit" (click)="openInGoogleMaps()">
        Ver en Google Maps
      </button>
      <button class="bg-black p-4 rounded-full text-white h-fit" (click)="openInfoEntrega(selectedMarker.id)">
        Ver info de la Entrega
      </button>
    </ion-card-content>
  </ion-card>
  
  <ion-card *ngIf="nearestLocation" class="m-4 p-2 shadow-lg">
    <ion-card-header>
      <ion-card-title>Ubicación más cercana</ion-card-title>
    </ion-card-header>
    <ion-card-content class="flex items-center gap-4">
      <div>
        <p><strong>{{ nearestLocation.name }}</strong></p>
        <p>{{ nearestLocation.description }}</p>
        <p><strong>Ubicación:</strong> {{ nearestLocation.lat }}, {{ nearestLocation.lng }}</p>
      </div>
    
      <button class="bg-black p-4 rounded-full text-white h-fit" (click)="openInGoogleMapsNear(nearestLocation.lat, nearestLocation.lng)">
        Ver en Google Maps
      </button>
    </ion-card-content>
  </ion-card>
</ion-content>
<app-footer></app-footer>
