<app-menu></app-menu>

<div class="ion-page" id="main-content"> 
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
         <ion-menu-button (click)="abrir()"></ion-menu-button>
      </ion-buttons>
      <ion-title>FerriEntregas Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <!-- Primer iframe -->
    <div style="position:relative; width:100%; height:0; padding-bottom:56.25%; overflow:hidden;">
      <iframe 
        title="Proyecto 7mo" 
        src="https://app.powerbi.com/reportEmbed?reportId=89843c0e-a803-4bde-829c-5684d1e940e7&autoAuth=true&embeddedDemo=false&pageName=d53f7cba08ee2aa0c5c3&filterPaneEnabled=false&navContentPaneEnabled=false" 
        class="w-full h-[600px] sm:h-[800px] border-0 rounded-lg" 
        allowfullscreen="true">
      </iframe>
    </div>

    <!-- Segundo iframe -->
    <div style="position:relative; width:100%; height:0; padding-bottom:56.25%; overflow:hidden;">
      <iframe 
        title="Proyecto 7mo" 
        src="https://app.powerbi.com/reportEmbed?reportId=89843c0e-a803-4bde-829c-5684d1e940e7&autoAuth=true&embeddedDemo=false&pageName=2403569c048d71152a0b&filterPaneEnabled=false&navContentPaneEnabled=false" 
        class="w-full h-[600px] sm:h-[800px] border-0 rounded-lg" 
        allowfullscreen="true">
      </iframe>
    </div>
    <!-- https://app.powerbi.com/groups/me/reports/89843c0e-a803-4bde-829c-5684d1e940e7/d53f7cba08ee2aa0c5c3?experience=power-bi -->
    <div style="position:relative; width:100%; height:0; padding-bottom:56.25%; overflow:hidden;">
        <iframe 
          title="Proyecto 7mo" 
          src="https://app.powerbi.com/reportEmbed?reportId=89843c0e-a803-4bde-829c-5684d1e940e7&autoAuth=true&embeddedDemo=false&pageName=16f096357e9c6f081121&filterPaneEnabled=false&navContentPaneEnabled=false" 
          class="w-full h-[600px] sm:h-[800px] border-0 rounded-lg" 
          allowfullscreen="true">
        </iframe>
        
    </div>
    <div style="position:relative; width:100%; height:0; padding-bottom:56.25%; overflow:hidden;">
        <iframe 
          title="Proyecto 7mo" 
          src="https://app.powerbi.com/reportEmbed?reportId=89843c0e-a803-4bde-829c-5684d1e940e7&autoAuth=true&embeddedDemo=false&pageName=739fc7b27551e4581c45&filterPaneEnabled=false&navContentPaneEnabled=false" 
          class="w-full h-[600px] sm:h-[800px] border-0 rounded-lg" 
          allowfullscreen="true">
        </iframe>
        
    </div>
  </ion-content>
</div>
