<ion-header [translucent]="true" class="shadow-none">
  <ion-toolbar class="h-10"> 
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button> 
    </ion-buttons>
    <ion-title class="text-lg font-semibold">Configuracion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar class="h-8"> 
      <ion-title size="large">Configuracion</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<app-footer></app-footer>
