<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>distancia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input [(ngModel)]="numero" class="text-center" type="number" placeholder="Medida: 10, 5, 2.5"></ion-input>
  </ion-item>
  <div class="flex justify-center gap-24">
    <div class="w-96">
      <ion-list>
        <ion-item (click)="primeraOpcion(distancia.clave)" class="text-center cursor-pointer" *ngFor="let distancia of distancias; let i = index">
          <ion-label>{{ distancia.valor }}</ion-label>
        </ion-item>
      </ion-list>
    </div>
    <div class="w-96">
      <ion-list>
        <ion-item (click)="segundaOpcion(distancia.clave)" class="text-center cursor-pointer" *ngFor="let distancia of distanciasInvertidas; let i = index">
          <ion-label>{{ distancia.valor }}</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>

  <ion-item>
    <ion-label class="text-center">{{ resultado }}</ion-label>
  </ion-item>

</ion-content>
